<div class="min-h-screen pl-6 pr-6 relative">
  <div class="text-sm breadcrumbs mb-6">
    <ul>
      <li><a routerLink="../../../home">Home</a></li>
      <li><a routerLink="../../../padlets">Padlets</a></li>
      <li> Comment or Like ➡️ {{entrie.title}}</li>
    </ul>
  </div>

  <form class="card bg-base-100 shadow-xl ml-[15%] mr-[15%] mb-6" [formGroup]="commentForm" (ngSubmit)="likeEntrie()">
    <div class="card-body">
      <!-- heading -->
      <h2 class="card-title">Did you like this Pin? Then leave it a thumbs up!</h2>
    </div>

    <div class="flex justify-start ml-8 mb-6">
      <!-- button to safe changes -->
      <button (click)="likeEntrie()" class="btn btn-primary">👍</button>
    </div>
  </form>

  <form class="card bg-base-100 shadow-xl ml-[15%] mr-[15%] mb-6" [formGroup]="commentForm" (ngSubmit)="commentEntrie()">
    <div class="card-body">
      <!-- heading -->
      <h2 class="card-title">What do you think about this Pin?</h2>

      <!-- comment -->
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Comment</span>
        </label>
        <input formControlName="comment" type="text" placeholder="Your thoughts 💬" class="input input-bordered w-full">
      </div>

    </div>

<!--    <div class="flex justify-start ml-8 mb-6">-->
<!--      &lt;!&ndash; button to safe changes &ndash;&gt;-->
<!--      <button (click)="commentEntrie()" class="btn btn-primary">Send Comment</button>-->
<!--    </div>-->


  </form>
</div>

