<figure *ngIf="padlet?.is_public || authService.isLoggedIn() && (hasReadingRights(padlet?.id) || isCreator())"
        class="max-w-[0px] max-h-[0px] md:max-w-[400px] md:max-h-[250px] lg:max-h-[250px]">
  <img src="{{padlet?.image}}" alt="Movie"/></figure>
<div class="card-body" *ngIf="padlet?.is_public || authService.isLoggedIn() && (hasReadingRights(padlet?.id) || isCreator())">
  <h2 class="card-title">{{padlet?.name}}</h2>
  <h3>Created at: {{padlet?.created_at | date:'longDate'}}</h3>
  <!-- is private or public info -->
  <span *ngIf="!padlet?.is_public; else publicPadlet">🔒 Private Padlet of {{getUserNameByPadletUserId(padlet?.user_id)}}</span>
  <ng-template #publicPadlet>
    <span>🗺️ Public Padlet of {{getUserNameByPadletUserId(padlet?.user_id)}}</span>
  </ng-template>

  <div class="card-actions justify-end">
    <button class="btn btn-primary">Show Pins</button>
  </div>

  <!-- edit button -->
  <div class="absolute top-8 right-6" *ngIf="authService.isLoggedIn() && (hasEditRights(padlet?.id) || isCreator())">
    <a routerLink="../padlets/padlet/{{padlet?.id}}"
       class="inline-flex items-center justify-center w-10 h-10 mr-2 text-gray-700 transition-colors duration-150 bg-white rounded-md focus:shadow-outline hover:bg-gray-200"
       routerLinkActive="active">
      <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path></svg>
    </a>
  </div>

</div>
