<div class="min-h-screen flex justify-center items-center
from-blue-600 via-teal-500 to-purple-500 bg-gradient-to-r w-full h-64" *ngIf="!isLoggedIn()">

  <form class="card glass shadow-xl" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="card-body">
      <h2 class="card-title">Login</h2>

      <div class="form-control w-full">
        <label class="label"><span class="label-text">E-Mail</span></label>
        <input type="email" id="username" formControlName="username" placeholder="Type here" class="input input-bordered w-full">
      </div>

      <div *ngIf="loginForm.get('username')?.invalid &&
      (loginForm.get('username')?.dirty ||
      loginForm.get('username')?.touched) &&
      loginForm.get('username')?.hasError('required')" class="bg-red-200">
        Benutzername ist verpflichtend
      </div>

      <div *ngIf="loginForm.get('username')?.invalid &&
      (loginForm.get('username')?.dirty ||
      loginForm.get('username')?.touched) &&
      loginForm.get('username')?.hasError('email')" class="bg-red-200">
        E-Mail Format überprüfen
      </div>

      <div class="form-control w-full">
        <label class="label"><span class="label-text">Password</span></label>
        <input type="password" formControlName="password" placeholder="Type here" class="input input-bordered w-full">
        <div *ngIf="loginForm.get('password')?.invalid &&
        (loginForm.get('password')?.dirty ||
        loginForm.get('password')?.touched)" class="bg-red-200">
                Passwort ist verpflichtend
        </div>
      </div>

      <button type="submit"
              class="btn btn-primary mt-6"
              [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
  </form>
</div>

<div *ngIf="isLoggedIn()">
  <button type="button" class="" (click)="logout()">Logout
  </button>
</div>

