<div class="min-h-screen pl-6 pr-6 relative">
  <div class="text-sm breadcrumbs mb-6">
    <ul>
      <li><a routerLink="../../../../">Home</a></li>
      <li><a routerLink="../../../">Padlets</a></li>
      <li><a routerLink="../../">All Pins</a></li>
      <li *ngIf="entrie.title; else newEntry"> {{ entrie.title }} </li>
      <ng-template #newEntry> <li> New Entry </li></ng-template>
    </ul>
  </div>

  <form class="card bg-base-100 shadow-xl ml-[15%] mr-[15%] mb-6" [formGroup]="entrieForm" (ngSubmit)="submitForm()">
    <div class="card-body">
      <!-- heading -->
      <h2 class="card-title" *ngIf="entrie.title; else newEntryHeading">{{entrie.title}}</h2>
      <ng-template #newEntryHeading><h2 class="card-title">Create a new Pin</h2></ng-template>

      <!-- title -->
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text after:content-['*']">Pin Title</span>
        </label>
        <input formControlName="title" type="text" placeholder="Type here" class="input input-bordered w-full">
        <div *ngIf="errors['title']" class="text-red-600 mt-2 mr-1">{{errors['title']}}</div>
      </div>

      <!-- content -->
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Pin Content</span>
        </label>
        <textarea formControlName="content" type="textarea" placeholder="Type here" class="textarea textarea-bordered"></textarea>
      </div>

      <!-- image -->
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text after:content-['*']">Pin Image</span>
        </label>
        <input formControlName="image" type="text" placeholder="Insert image link" class="input input-bordered w-full">
        <div *ngIf="errors['image']" class="text-red-600 mt-2 mr-1">{{errors['image']}}</div>
      </div>

      <!-- date -->
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Created at</span>
        </label>
        <input type="text" placeholder="{{entrie.created_at | date:'longDate'}}" class="input input-bordered w-full max-w-xs" disabled/>
      </div>
    </div>

      <div class="flex justify-between ml-8 mr-8 mb-6">
          <!-- button to safe changes -->
          <button type="submit" class="btn btn-primary" *ngIf="hasEditRights() || isCreator(entrie.user_id) || !isUpdateingEntrie">Safe changes</button>

          <!-- The button to open modal -->
          <label for="my-modal-6" class="btn btn-error" *ngIf="hasDeleteRights() || isCreator(entrie.user_id)">Delete</label>

          <!-- Put this part before </body> tag -->
          <input type="checkbox" id="my-modal-6" class="modal-toggle" />
          <div class="modal modal-bottom sm:modal-middle">
            <div class="modal-box">
              <h3 class="font-bold text-lg">Do you really want to delete the pin?"{{entrie.title}}"?</h3>
              <div class="flex justify-center items-center modal-action">
                <label for="my-modal-6" class="btn">Cancel</label>
                <button class="btn btn-error max-w-[50%]" *ngIf="hasDeleteRights() || isCreator(entrie.user_id)" (click)="deleteEntrie()">Delete</button>
              </div>
            </div>
          </div>
      </div>
  </form>
</div>


