<div class="hero min-h-screen
from-blue-600 via-teal-500 to-purple-500 bg-gradient-to-r w-full h-64">
  <div class="hero-content text-center">
    <div class="max-w-lg">
      <h1 class="text-4xl font-bold text-white">Welcome to Pats Pintastic - your gateway to endless creativity!</h1>
      <p class="py-6 text-white">
        Dive into a world of inspiration as you explore captivating public padlets,
        or unleash your imagination and create your own unique digital canvases.
        Let your ideas thrive and connect with like-minded individuals in this vibrant community.
      </p>
      <a routerLink="../padlets" class="btn btn-primary" routerLinkActive="active">Explore Padlets</a>
      <a routerLink="../login" class="btn btn-secondary ml-2" routerLinkActive="active">{{getLoginLabel()}}</a>
    </div>
  </div>
</div>
