<div class="min-h-screen pl-6 pr-6 relative">

  <div class="text-sm breadcrumbs mb-6">
    <ul>
      <li><a routerLink="../../home">Home</a></li>
      <li><a routerLink="../../padlets">Padlets</a></li>
      <li>All Pins</li>
    </ul>
  </div>

  <div *ngIf="entries.length === 0" class="flex flex-col justify-center items-center">
    <img src="https://img.freepik.com/free-vector/creation-process-concept-illustration_114360-2091.jpg?w=900&t=st=1684663261~exp=1684663861~hmac=b2e9fcaf08ccce01a0f6670bc1e88a1806a34aae11bd9064d02456d427a8584e"
    class="max-w-[35%]">
    <a routerLink="./entry/new" *ngIf="authService.isLoggedIn()"
       class="btn btn-primary mt-6"
       routerLinkActive="active">
      <span>Create new Pins</span>
    </a>
    <h3 *ngIf="!authService.isLoggedIn()" class="card-title"> No Pins created yet! 😥</h3>
  </div>

  <a routerLink="./entry/new" *ngIf="authService.isLoggedIn() && entries.length > 0"
     class="fixed z-10 top-[90%] left-[93%] mb-6 btn btn-primary transition-colors rounded-full shadow-lg"
    routerLinkActive="active">
    <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" fill-rule="evenodd"></path></svg>
  </a>

  <div class="flex flex-row flex-wrap justify-evenly">
    <div *ngFor="let entrie of entries" class="w-full md:w-[32%] mb-6">
      <div class="card bg-base-100 shadow-xl">
        <figure class="max-h-[170px]"><img src="{{entrie?.image}}" alt="Hier könnte Ihre Werbung stehen" /></figure>
        <div class="card-body h-[350px] overflow-auto">
          <h2 class="card-title">{{entrie?.title}}</h2>
          <div [innerHTML]="entrie?.content"></div>

          <!-- edit button -->
          <div class="absolute top-6 right-2" *ngIf="authService.isLoggedIn()">
            <a routerLink="./entry/{{entrie.id}}"
               class="inline-flex items-center justify-center w-10 h-10 mr-2 text-gray-700 transition-colors duration-150 bg-white rounded-md focus:shadow-outline hover:bg-gray-200"
               routerLinkActive="active"
               *ngIf="authService.isLoggedIn() && (hasEditRights() || isCreator(entrie.user_id))">
              <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20"><path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path></svg>
            </a>
          </div>
        </div>

          <div class="alert alert-info shadow-lg max-w-[80%] self-center mb-8" *ngIf="showAlert">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
              <span>Sorry! You have to be logged in to comment or like this Pin! 😶‍🌫️</span>
            </div>
          </div>

        <div class="collapse">
          <input type="checkbox" class="peer" />
          <div class="collapse-title bg-gray-50 text-primary-content flex justify-between">
            <span *ngIf="entrie.comments?.length == 0, else moreComments" class="text-black">💬 0 Comments</span>
            <ng-template #moreComments><span class="text-black">💬 {{entrie.comments?.length}} Comments</span></ng-template>

            <span *ngIf="entrie.ratings?.length == 0; else moreLikes" class="text-black">👍 0 Likes</span>
            <ng-template #moreLikes><span class="text-black">👍 {{entrie.ratings?.length}} Likes</span></ng-template>
          </div>
          <div class="collapse-content bg-gray-50 text-primary-content">
            <div class="max-h-[300px] overflow-auto">
              <div *ngFor="let comment of entrie.comments">
                <div *ngIf="comment.user_id.toString() == sessionStorage.getItem('userId'); else chatLeft">
                  <div class="chat-header ml-[90%] text-black"> You </div>
                  <div class="chat chat-end">
                    <div class="chat-bubble bg-blue-700">{{comment.comment}}</div>
                  </div>
                </div>
                <ng-template #chatLeft>
                  <div class="chat-header ml-3.5 mt-1">
                    <p class="text-black">{{getUserNameByCommentUserId(comment.user_id)}}</p>
                  </div>
                  <div class="chat chat-start">
                    <div class="chat-bubble">{{comment.comment}}</div>
                  </div>
                </ng-template>
              </div>
            </div>

            <form class="mt-3" [formGroup]="commentForm" (ngSubmit)="submitComment(entrie.id)">
              <label for="chat" class="sr-only">Your message</label>
              <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">

              <button class="btn btn-primary mr-auto ml-auto" *ngIf="!hasRatedEntrie(entrie.id); else removeLike" (click)="rateEntrie(entrie.id)">
                👍 Like
              </button>
              <ng-template #removeLike>
                <button class="btn btn-secondary mr-auto ml-auto" (click)="deleteEntrieRating(entrie.id)">
                  👍 Unlike
                </button>
              </ng-template>

                <input id="chat" formControlName="comment" type="textarea" placeholder="Type here" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message...">
                <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                  <svg aria-hidden="true" class="w-6 h-6 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path></svg>
                  <span class="sr-only">Send message</span>
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
